{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}


{% block body %}

    <span style="color:red">Participant : {{ app.user.LastName }} !</span><br>
    <span style="color:blue">Date du jour : {{ "now"|date('d/m/Y') }} </span><br>

    <h3>Filtrer les sorties</h3>


    <button> <a href="{{ url('sortie_creation') }}">
        Créer une sortie</a>
    </button>
{% endblock %}