header {
    background-image:
            linear-gradient(rgb(79, 31, 157), rgb(30, 80, 109));
    /*background: #007bff;*/
    color: #DDDDDD;
    font-size: 22px;
    font-family: 'Ubuntu','Roboto', sans-serif;
    box-shadow: 0px 13px 12px -2px rgba(0, 0, 0, 0.33);
}


body {
    font-family: 'Ubuntu','Roboto', sans-serif;
    background-color: #f5f1f1;
    margin:0;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-family: 'Ubuntu','Roboto', sans-serif;
}

.redLink { color: #FF0000; }

.orangeLink { color: #ff7700
}

.greenLink { color: green}

.blueLink { color: #0b2399 }



a:hover {
    color: #007bff;
    text-decoration: none;
}

table {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.33);
    border: 0 black solid;
}

/* CLASSES*/
.base-img-logo > a > img{
    height: 130px;
}

.base-img-logo > a {
    font-size: 50px;
    color: #DDDDDD;
    font-family:'terror', sans-serif;
}

.home-conteneur{
    color: #565656;
    border: 0px black solid;
    border-radius: 15px;
    margin: 0px;
    overflow: hidden;
    background-color: rgba(255,255,255,.90);
    box-shadow: 0 3px 10px rgba(0,0,0,0.23);
}

.home-hello{
    color:red;
    font-size: 50px;
    font-family: 'terror', 'Ubuntu','Roboto', sans-serif;
}

.home-boutton-create-event{
    background-color: #0b7e99;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.home-separator-conteneur{
    background-color: #0b7e99;
    height: 100px;
}

.home-boutton-search{
    background-color: #0b7e99;
    padding: 10px;
    height: 58px;
    width: 90%;
    font-size: 21px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.login{
    background-image:
        linear-gradient(rgba(117, 117, 124, 0.5), rgba(238, 238, 236, 0.5)),
        url("img/background-beach-and-sea.jpg");
    background-size: cover;
    background-position: center;
    margin:0;
    height:1100px;
}

.login-img-logo > div > header > img{
    margin: 60px;
    height: 220px;
}

.login-conteneur{
    color: #565656;
    border: 0px black solid;
    border-radius: 15px;
    margin: 0px;
    overflow: hidden;
    background-color: rgba(255,255,255,.90);
    box-shadow: 0 3px 10px rgba(0,0,0,0.23);
}

.login-contact{
    color: #2a0653;
}

.login-boutton{
    background-color: #0b7e99;
    color: white;
    padding: 10px;
    height: 58px;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.login-titre {
    text-align: center;
    color: #07abb1;
    font-size: 120px;
    font-family: 'terror', 'Ubuntu', 'Roboto', sans-serif;
}

/* POLICES*/
@font-face {
    font-family: 'terror';
    /*src: url('ttf/GameOnPersonalUseOnly.ttf') format('truetype');*/
    src: url('ttf/NightofTerror.ttf') format('truetype');
    /*src: url('ttf/AmongUs-Regular.ttf') format('truetype');*/
}

