{% extends 'base.html.twig' %}

{% block title %}Page des campus{% endblock %}
{% block body %}
    <h2>Campus</h2>

    {% for campus in campus %}
        {{ campus.campus }}<br>
    {% endfor %}

{% endblock %}