{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
     <div class="row">
     <div class="col-sm"></div>
     <div class="col-sm">
          <h1>Mon profil</h1>
          {{ form_start(profilUserForm) }}
          {{ form_widget(profilUserForm) }}
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          {{ form_end(profilUserForm) }}
          {{ dump (app.user) }}
     </div>
          <div class="col-sm"></div>
     </div>
{% endblock body %}