{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h1>Vous êtes sur la page de :</h1>

            <h2 class="redLink">{{ user.pseudo }} </h2>
        </div>
        <img src="{{ user.photo }}">
        <div class="col-sm"></div>
    </div>
{% endblock body %}